<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ExportOptions.plist
   

   Created by 廣末丈士 on 2021/03/30.
   Copyright (c) 2021 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
    <key>provisioningProfiles</key>
    <dict>
      <key>org.thirosue.bookingApp</key>
      <string>distribution.mobileprovision</string>
    </dict>
    <key>method</key>
    <string>ad-hoc</string>
    <key>teamID</key>
    <string>Y7CSZ6GQ9D</string>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
  </dict>
</plist>
